<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div className="main-content">
 <div className="Header">
  <div className='box-names-header'>
    <a href="/landing-page/src/App.js"><button className='btn-header'>Home</button></a>
    <a href=""><button className='btn-header'>Trajetória</button></a>
    <a href=""><button className='btn-header'>Feedback</button></a>
    <a href=""><button className='btn-header'>Contato</button></a>
  </div>
 </div>
 <div className="Mid content">
  <div className="primeiro-box">
    <div className="nome-texto"></div>
    <div className="welcome"></div>
    <div className="consideracoes"></div>
  </div>
  <div className="segundo-box">
    <div className="foto">
      <img src="/landing-page/src/imagens/elivan.jpg" alt="">
    </div>
  </div>
 </div>
</div>
</body>
</html>